.contact{
  text-color: white;
}

body
{
  color:white;
 
}

label
{
  color:white;
}

.form-group
{
  color:white;
}

form
{
  padding:6em;
  margin:6em;
}

.col-md-3
{
  margin:2em;
  padding:2em;
}